# Node and logs
node_modules/      
dist/
build/
*.log

# Yarn v1 stuff
.yarn-integrity
.yarnclean
.npmrc

# Yarn 2+
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarnrc.yml
!.pnp.cjs

# OS and editor junk
.DS_Store
.vscode/
.idea/
.env